<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="footer-top__content">
                <div class="footer-top__left">
                    <a href="./" class="footer-top__logo">
                        <img loading="lazy" src="img/icons/logo1.svg" alt="">
                    </a>
                    <p>
                        Место где технологии встречаются с природой
                    </p>
                    <div class="footer-top__socials">
                        <div class="footer-top__socials-title">
                            Мы в соц. сетях
                        </div>
                        <div class="socials">
                            <a href="./">
                                <img loading="lazy" src="img/rutube.webp" alt="">
                            </a>
                            <a href="./">
                                <img loading="lazy" src="img/icons/vk.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="footer-top__menu">
                    <ul>
                        <li>
                            <a href="./">О компании</a>
                        </li>
                        <li>
                            <a href="./">Каталог</a>
                        </li>
                        <li>
                            <a href="./">Дистрибьюторы</a>
                        </li>
                        <li>
                            <a href="./">Новости</a>
                        </li>
                        <li>
                            <a href="./">Технологии</a>
                        </li>
                        <li>
                            <a href="./">Контакты</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-contacts">
                    <div class="footer-contacts__body">
                        <div class="footer-contacts__column">
                            <div class="footer-contacts__icon">
                                <svg aria-hidden="true" width="12" height="12">
                                    <use xlink:href="img/sprite.svg#phone"></use>
                                </svg>
                            </div>
                            <div class="footer-contacts__item">
                                <div class="footer-contacts__title">
                                    Телефон
                                </div>
                                <div class="footer-contacts__text">
                                    <a href="tel:79375242676">+7 937 524 2676</a>
                                </div>
                            </div>
                        </div>
                        <div class="footer-contacts__column">
                            <div class="footer-contacts__icon">
                                <svg aria-hidden="true" width="10" height="12">
                                    <use xlink:href="img/sprite.svg#map"></use>
                                </svg>
                            </div>
                            <div class="footer-contacts__item">
                                <div class="footer-contacts__title">
                                    Адрес
                                </div>
                                <div class="footer-contacts__text">
                                    ул. Шоссейная, д.1А
                                </div>
                            </div>
                        </div>
                        <div class="footer-contacts__column">
                            <div class="footer-contacts__icon">
                                <svg aria-hidden="true" width="12" height="12">
                                    <use xlink:href="img/sprite.svg#mail"></use>
                                </svg>
                            </div>
                            <div class="footer-contacts__item">
                                <div class="footer-contacts__title">
                                    E-mail
                                </div>
                                <div class="footer-contacts__text">
                                    <a href="mailto:info@floradex.ru">info@floradex.ru</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom__content">
                <div class="footer-bottom__copy">
                    Floradex 2026
                </div>
                <div class="footer-bottom__link">
                    Политика конфеденциальности
                </div>
            </div>
        </div>
    </div>
</footer>