<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="footer-top__content">
                <div class="footer-top__column">
                    <a href="./" class="footer-top__logo">
                        <img loading="lazy" src="img/icons/logo1.svg" alt="">
                    </a>
                    <div class="footer-top__contacts">
                        <a href="tel:79966865307" class="footer-top__contact contact-phone">
                            <img loading="lazy" src="img/icons/phone2.svg" alt="">
                            <span>+7 (996) 686-53-07</span>
                        </a>
                        <a href="mailto:info@physic-solutions.ru" class="footer-top__contact">
                            <img loading="lazy" src="img/icons/mail2.svg" alt="">
                            <span>info@physic-solutions.ru</span>
                        </a>
                    </div>
                    <div class="socials">
                        <a href="./">
                            <img loading="lazy" src="img/icons/vk.svg" alt="">
                        </a>
                        <a href="./">
                            <img loading="lazy" src="img/icons/telegramm.svg" alt="">
                        </a>
                        <a href="./">
                            <img loading="lazy" src="img/icons/watsapp.svg" alt="">
                        </a>
                        <a href="./">
                            <img loading="lazy" src="img/icons/viber.svg" alt="">
                        </a>
                    </div>
                </div>
                <div data-da=".footer-top__content, 768, first" class="footer-top__menu">
                    <div class="footer-top__title">
                        Каталог
                    </div>
                    <ul>
                        <li>
                            <a href="./">
                                <span data-text="Наши разработки">Наши разработки</span>
                            </a>
                        </li>
                        <li>
                            <a href="./">
                                <span data-text="Электронные компоненты">Электронные компоненты</span>
                            </a>
                        </li>
                        <li>
                            <a href="./">
                                <span data-text="Спец. инструмент">Спец. инструмент</span>
                            </a>
                        </li>
                        <li>
                            <a href="./">
                                <span data-text="Изделия PEEK">Изделия PEEK</span>
                            </a>
                        </li>
                        <li>
                            <a href="./">
                                <span data-text="Твердый сплав">Твердый сплав</span>
                            </a>
                        </li>
                        <li>
                            <a href="./">
                                <span data-text="Товары">Товары</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-top__menu">
                    <div class="footer-top__title">
                        Услуги
                    </div>
                    <ul>
                        <li>
                            <a href="./">
                                <span data-text="Спец. инструмент">Спец. инструмент</span>
                            </a>
                        </li>
                        <li>
                            <a href="./">
                                <span data-text="Твердый сплав">Твердый сплав</span>
                            </a>
                        </li>
                        <li>
                            <a href="./">
                                <span data-text="Наши разработки">Наши разработки</span>
                            </a>
                        </li>
                        <li>
                            <a href="./">
                                <span data-text="Изделия PEEK">Изделия PEEK</span>
                            </a>
                        </li>
                        <li>
                            <a href="./">
                                <span data-text="Товары">Товары</span>
                            </a>
                        </li>
                        <li>
                            <a href="./">
                                <span data-text="Электронные компоненты">Электронные компоненты</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-top__menu">
                    <div class="footer-top__title">
                        Меню
                    </div>
                    <ul>
                        <li>
                            <a href="./">
                                <span data-text="О компании">О компании</span>
                            </a>
                        </li>
                        <li>
                            <a href="./">
                                <span data-text="Новости">Новости</span>
                            </a>
                        </li>
                        <li>
                            <a href="./">
                                <span data-text="Контакты">Контакты</span>
                            </a>
                        </li>
                        <li>
                            <a href="./">
                                <span data-text="Политика конфиденциальности">Политика конфиденциальности</span>
                            </a>
                        </li>
                        <li>
                            <a href="./">
                                <span data-text="Пользовательское соглашение">Пользовательское соглашение</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom__content">
                <div class="footer-bottom__copy">
                    © Physic Solutions 2026 Все права защищены
                </div>
                <div class="footer-bottom__site">
                    <span>Разработка сайта:</span>
                    <a href="./">miridea.ru</a>
                </div>
            </div>
        </div>
    </div>
</footer>