<div class="block-forms block1">
    <div class="container">
        <div class="block-forms__content">
            <form action="#" class="form">
                <div class="form__top">
                    <h2 class="title2">
                        Хотите стать партнёром?
                    </h2>
                    <p>
                        Оставьте заявку — менеджер свяжется в течение 2 часов
                    </p>
                </div>
                <div class="form__inputs">
                    <div class="form__input">
                        <input data-required autocomplete="off" type="text" name="form[]" placeholder="Ваше имя"
                            class="input">
                    </div>
                    <div class="form__input">
                        <input data-required autocomplete="off" type="text" name="form[]" placeholder="Ваш телефон"
                            class="input">
                    </div>
                    <div class="form__input">
                        <input data-required autocomplete="off" type="text" name="form[]" placeholder="Ваш email"
                            class="input">
                    </div>
                </div>
                <button type="submit" class="btn btn-white">
                    <span>Отправить заявку</span>
                </button>
            </form>
            <div class="block-forms__image">
                <img loading="lazy" src="img/image8.webp" alt="">
            </div>
        </div>
    </div>
</div>