<header class="header">
    <div class="container">
        <div class="header__content">
            <a href="./" class="header__logo">
                <img src="img/icons/logo1.svg" alt="">
            </a>
            <div class="header__body">
                <ul>
                    <li>
                        <a href="./">О компании</a>
                    </li>
                    <li>
                        <a href="./">Каталог</a>
                    </li>
                    <li>
                        <a href="./">Дистрибьюторы</a>
                    </li>
                    <li>
                        <a href="./">Новости</a>
                    </li>
                    <li>
                        <a href="./">Технологии</a>
                    </li>
                    <li>
                        <a href="./">Контакты</a>
                    </li>
                </ul>
            </div>
            <div class="header__contacts">
                <a href="tel:79375242676" class="header__phone">+7 937 524 2676</a>
                <a href="./" data-popup="#request" class="btn">
                    <div class="btn__icon">
                        <svg aria-hidden="true" width="12" height="12">
                            <use xlink:href="img/sprite.svg#phone"></use>
                        </svg>
                    </div>
                    <span>
                        Оставить заявку
                    </span>
                </a>
                <button type="button" class="header__burger">
                    <span class="icon-menu">
                        <span></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</header>