<div class="pagging">
    <span class="pagging__item_nav pagging__item_nav-prev">
        <img src="img/icons/arrow3.svg" alt="">
        <span>Назад</span>
    </span>
    <div class="pagging__center">
        <a class="pagging__item pagging__item_active" href="./">1</a>
        <a class="pagging__item" href="./">2</a>
        <a class="pagging__item pagging__item_ellipsis" href="./">...</a>
        <a class="pagging__item" href="./">13</a>
        <a class="pagging__item" href="./">15</a>
    </div>
    <a class="pagging__item_nav  pagging__item_nav-next" href="./">
        <span>Вперед</span>
        <img src="img/icons/arrow3.svg" alt="">
    </a>
</div>