<!DOCTYPE html>
<html lang="ru">

<head>
    <title>О компании</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li>
                            <a href="./">
                                Главная
                            </a>
                        </li>
                        <li><span>О компании</span></li>
                    </ul>
                </div>
            </div>

            <div class="block-about block1">
                <div class="container">
                    <div class="block-about__content">
                        <h1 class="title1">
                            О компании
                        </h1>
                        <div class="block-about__body">
                            <div class="block-about__left">
                                <div class="block-about__item">
                                    <h2 class="title2">
                                        История создания
                                    </h2>
                                    <div class="block-about__text">
                                        <p>
                                            Тепличный комплекс «Флорадекс» объявляет о начале строительства второго
                                            павильона
                                            для выращивания цветов. Это важный этап в развитии компании, который
                                            увеличит
                                            производственные мощности вдвое и укрепит позиции «Флорадекс» как одного из
                                            ведущих
                                            отечественных производителей свежесрезанных цветов.
                                        </p>
                                        <p>
                                            Первый павильон уже зарекомендовал себя как образец высокотехнологичного
                                            цветоводства: круглогодичное цветение, полный климат-контроль, биологическая
                                            защита
                                            растений и отсутствие химических стимуляторов. Качество цветов «Флорадекс»
                                            оценили
                                            флористы, свадебные салоны и оптовые покупатели — за стойкость, насыщенный
                                            цвет
                                            и
                                            живую энергию, которую не встретитьв импортных аналогах.
                                        </p>
                                    </div>
                                </div>
                                <div class="block-about__images">
                                    <div class="block-about__image image-first">
                                        <img src="img/image13.webp" alt="">
                                    </div>
                                    <div class="block-about__image">
                                        <img src="img/image14.webp" alt="">
                                    </div>
                                    <div class="block-about__image">
                                        <img src="img/image15.webp" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="block-about__image">
                                <img src="img/image13.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-mission block1">
                <div class="container">
                    <div class="block-mission__content">
                        <h2 class="title2">
                            Миссия и ценности
                        </h2>
                        <div class="block-mission__body">
                            <div class="block-mission__column">
                                <div class="block-mission__icon">
                                    <img loading="lazy" src="img/icons/icon5.svg" alt="">
                                </div>
                                <div class="block-mission__item">
                                    <div class="block-mission__title">
                                        Экология
                                    </div>
                                    <p>
                                        Повседневная практика показывает, что постоянный количественный рост и сфера
                                        нашей активности представляет собой интересный эксперимент 
                                    </p>
                                </div>
                            </div>
                            <div class="block-mission__column">
                                <div class="block-mission__icon">
                                    <img loading="lazy" src="img/icons/icon6.svg" alt="">
                                </div>
                                <div class="block-mission__item">
                                    <div class="block-mission__title">
                                        Качество
                                    </div>
                                    <p>
                                        Повседневная практика показывает, что постоянный количественный рост и сфера
                                        нашей активности представляет собой интересный эксперимент 
                                    </p>
                                </div>
                            </div>
                            <div class="block-mission__column">
                                <div class="block-mission__icon">
                                    <img loading="lazy" src="img/icons/icon7.svg" alt="">
                                </div>
                                <div class="block-mission__item">
                                    <div class="block-mission__title">
                                        Прозрачность
                                    </div>
                                    <p>
                                        Повседневная практика показывает, что постоянный количественный рост и сфера
                                        нашей активности представляет собой интересный эксперимент 
                                    </p>
                                </div>
                            </div>
                            <div class="block-mission__column">
                                <div class="block-mission__icon">
                                    <img loading="lazy" src="img/icons/icon2.svg" alt="">
                                </div>
                                <div class="block-mission__item">
                                    <div class="block-mission__title">
                                        Развитие отрасли
                                    </div>
                                    <p>
                                        Повседневная практика показывает, что постоянный количественный рост и сфера
                                        нашей активности представляет собой интересный эксперимент 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-teams block1">
                <div class="container">
                    <div class="block-teams__content">
                        <h2 class="title2">
                            Наша команда
                        </h2>
                        <div class="block-teams__body">
                            <div class="block-teams__column">
                                <div class="block-teams__image">
                                    <img loading="lazy" src="img/teams/image1.webp" alt="">
                                </div>
                                <div class="block-teams__item">
                                    <div class="block-teams__title">Иван Иванов</div>
                                    <div class="block-teams__subtitle">25 лет опыта</div>
                                    <p>
                                        Хранитель здоровья роз и главный руководитель
                                    </p>
                                </div>
                            </div>
                            <div class="block-teams__column">
                                <div class="block-teams__image">
                                    <img loading="lazy" src="img/teams/image2.webp" alt="">
                                </div>
                                <div class="block-teams__item">
                                    <div class="block-teams__title">Инна Иванова</div>
                                    <div class="block-teams__subtitle">5 лет опыта</div>
                                    <p>
                                        Садовник с большой буквы
                                    </p>
                                </div>
                            </div>
                            <div class="block-teams__column">
                                <div class="block-teams__image">
                                    <img loading="lazy" src="img/teams/image3.webp" alt="">
                                </div>
                                <div class="block-teams__item">
                                    <div class="block-teams__title">Сергей Сергеев</div>
                                    <div class="block-teams__subtitle">8 лет опыта</div>
                                    <p>
                                        Садовник с большой буквы
                                    </p>
                                </div>
                            </div>
                            <div class="block-teams__column">
                                <div class="block-teams__image">
                                    <img loading="lazy" src="img/teams/image4.webp" alt="">
                                </div>
                                <div class="block-teams__item">
                                    <div class="block-teams__title">Иван Иванов</div>
                                    <div class="block-teams__subtitle">5 лет опыта</div>
                                    <p>
                                        Садовник с большой буквы
                                    </p>
                                </div>
                            </div>
                            <div class="block-teams__column">
                                <div class="block-teams__image">
                                    <img loading="lazy" src="img/teams/image2.webp" alt="">
                                </div>
                                <div class="block-teams__item">
                                    <div class="block-teams__title">Иван Иванов</div>
                                    <div class="block-teams__subtitle">10 лет опыта</div>
                                    <p>
                                        Садовник с большой буквы
                                    </p>
                                </div>
                            </div>
                            <div class="block-teams__column">
                                <div class="block-teams__image">
                                    <img loading="lazy" src="img/teams/image3.webp" alt="">
                                </div>
                                <div class="block-teams__item">
                                    <div class="block-teams__title">Иван Иванов</div>
                                    <div class="block-teams__subtitle">7 лет опыта</div>
                                    <p>
                                        Садовник с большой буквы
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-video block1">
                <div class="container">
                    <div class="block-video__content">
                        <div class="block-video__body">
                            <h2 class="title2">
                                Видеотур
                            </h2>
                            <p>
                                Первый павильон уже зарекомендовал себя как образец высокотехнологичного цветоводства:
                                круглогодичное цветение, полный климат-контроль, биологическая защита растений и
                                отсутствие химических стимуляторов. Качество цветов «Флорадекс» оценили флористы,
                                свадебные салоны и оптовые покупатели — за стойкость, насыщенный цвет и живую энергию,
                                которую не встретить в импортных аналогах.
                            </p>
                        </div>
                        <a href="files/videos/video.mp4" data-fancybox="video1" class="block-video__item">
                            <img loading="lazy" src="img/icons/play2.svg" alt="" class="block-video__play">
                            <img loading="lazy" src="img/video-image.webp" alt="" class="block-video__pic1">
                        </a>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>