<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Дистрибьюторы</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li>
                            <a href="./">
                                Главная
                            </a>
                        </li>
                        <li>
                            <span>
                                Дистрибьюторы
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="block-distributors block1">
                <div class="container">
                    <div class="block-distributors__content">
                        <h1 class="title1">
                            Дистрибьюторы
                        </h1>
                        <div class="block-intro-descr">
                            <div class="block-intro-descr__body">
                                <div class="block-intro-descr__column">
                                    <div class="block-intro-descr__icon">
                                        <img src="img/icons/icon2.svg" alt="">
                                    </div>
                                    <div class="block-intro-descr__item">
                                        <div class="block-intro-descr__title">
                                            12
                                        </div>
                                        <p>
                                            Производимых сорта
                                        </p>
                                    </div>
                                </div>
                                <div class="block-intro-descr__column">
                                    <div class="block-intro-descr__icon">
                                        <img src="img/icons/icon8.svg" alt="">
                                    </div>
                                    <div class="block-intro-descr__item">
                                        <div class="block-intro-descr__title">
                                            Каждую ср и сб
                                        </div>
                                        <p>
                                            Поставка на наши склады
                                        </p>
                                    </div>
                                </div>
                                <div class="block-intro-descr__column">
                                    <div class="block-intro-descr__icon">
                                        <img src="img/icons/icon9.svg" alt="">
                                    </div>
                                    <div class="block-intro-descr__item">
                                        <div class="block-intro-descr__title">
                                            12 месяцев
                                        </div>
                                        <p>
                                            В году производим свежие цветы
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-buy block1">
                <div class="container">
                    <div class="block-buy__content">
                        <h2 class="title2">
                            Где купить наши розы
                        </h2>
                        <div class="block-buy__body">
                            <div id="map2"></div>
                            <div class="block-buy__cards">
                                <div class="block-buy__card">
                                    <div class="block-buy__image">
                                        <div class="block-buy__slider swiper">
                                            <div class="block-buy__wrapper swiper-wrapper">
                                                <div class="block-buy__slide swiper-slide">
                                                    <img loading="lazy" src="img/shop1.webp" alt="">
                                                </div>
                                                <div class="block-buy__slide swiper-slide">
                                                    <img loading="lazy" src="img/shop1.webp" alt="">
                                                </div>
                                                <div class="block-buy__slide swiper-slide">
                                                    <img loading="lazy" src="img/shop1.webp" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="block-buy__pagination pagination"></div>
                                    </div>
                                    <div class="block-buy__item">
                                        <div class="block-buy__titles">
                                            <div class="block-buy__title">
                                                April Cash&Carry
                                            </div>
                                            <p>
                                                Казань, ул. Бухарская, 3
                                            </p>
                                        </div>
                                        <a href="./" data-popup="#request" class="btn">
                                            <span>Оставить заявку</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="block-buy__card">
                                    <div class="block-buy__image">
                                        <div class="block-buy__slider swiper">
                                            <div class="block-buy__wrapper swiper-wrapper">
                                                <div class="block-buy__slide swiper-slide">
                                                    <img loading="lazy" src="img/shop2.webp" alt="">
                                                </div>
                                                <div class="block-buy__slide swiper-slide">
                                                    <img loading="lazy" src="img/shop2.webp" alt="">
                                                </div>
                                                <div class="block-buy__slide swiper-slide">
                                                    <img loading="lazy" src="img/shop2.webp" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="block-buy__pagination pagination"></div>
                                    </div>
                                    <div class="block-buy__item">
                                        <div class="block-buy__titles">
                                            <div class="block-buy__title">
                                                April Cash&Carry
                                            </div>
                                            <p>
                                                Нижний Новгород, ул. Ларина, 28
                                            </p>
                                        </div>
                                        <a href="./" data-popup="#request" class="btn">
                                            <span>Оставить заявку</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="block-buy__card">
                                    <div class="block-buy__image">
                                        <div class="block-buy__slider swiper">
                                            <div class="block-buy__wrapper swiper-wrapper">
                                                <div class="block-buy__slide swiper-slide">
                                                    <img loading="lazy" src="img/shop3.webp" alt="">
                                                </div>
                                                <div class="block-buy__slide swiper-slide">
                                                    <img loading="lazy" src="img/shop3.webp" alt="">
                                                </div>
                                                <div class="block-buy__slide swiper-slide">
                                                    <img loading="lazy" src="img/shop3.webp" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="block-buy__pagination pagination"></div>
                                    </div>
                                    <div class="block-buy__item">
                                        <div class="block-buy__titles">
                                            <div class="block-buy__title">
                                                April Cash&Carry
                                            </div>
                                            <p>
                                                Москва (Одинцово), ул. Маковского, 3
                                            </p>
                                        </div>
                                        <a href="./" data-popup="#request" class="btn">
                                            <span>Оставить заявку</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="block-buy__card">
                                    <div class="block-buy__image">
                                        <div class="block-buy__slider swiper">
                                            <div class="block-buy__wrapper swiper-wrapper">
                                                <div class="block-buy__slide swiper-slide">
                                                    <img loading="lazy" src="img/shop4.webp" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="block-buy__pagination pagination"></div>
                                    </div>
                                    <div class="block-buy__item">
                                        <div class="block-buy__titles">
                                            <div class="block-buy__title">
                                                РАМАНТА
                                            </div>
                                            <p>
                                                Набережные Челны,<br> Машиностроительная ул., 39/8
                                            </p>
                                        </div>
                                        <a href="./" data-popup="#request" class="btn">
                                            <span>Оставить заявку</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="block-buy__card">
                                    <div class="block-buy__image">
                                        <div class="block-buy__slider swiper">
                                            <div class="block-buy__wrapper swiper-wrapper">
                                                <div class="block-buy__slide swiper-slide">
                                                    <img loading="lazy" src="img/shop5.webp" alt="">
                                                </div>
                                                <div class="block-buy__slide swiper-slide">
                                                    <img loading="lazy" src="img/shop5.webp" alt="">
                                                </div>
                                                <div class="block-buy__slide swiper-slide">
                                                    <img loading="lazy" src="img/shop5.webp" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="block-buy__pagination pagination"></div>
                                    </div>
                                    <div class="block-buy__item">
                                        <div class="block-buy__titles">
                                            <div class="block-buy__title">
                                                DMITRIEV green house
                                            </div>
                                            <p>
                                                Краснодар, пос. Плодородный, 14/1
                                            </p>
                                        </div>
                                        <a href="./" data-popup="#request" class="btn">
                                            <span>Оставить заявку</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="block-buy__card">
                                    <div class="block-buy__image">
                                        <div class="block-buy__slider swiper">
                                            <div class="block-buy__wrapper swiper-wrapper">
                                                <div class="block-buy__slide swiper-slide">
                                                    <img loading="lazy" src="img/shop6.webp" alt="">
                                                </div>
                                                <div class="block-buy__slide swiper-slide">
                                                    <img loading="lazy" src="img/shop6.webp" alt="">
                                                </div>
                                                <div class="block-buy__slide swiper-slide">
                                                    <img loading="lazy" src="img/shop6.webp" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="block-buy__pagination pagination"></div>
                                    </div>
                                    <div class="block-buy__item">
                                        <div class="block-buy__titles">
                                            <div class="block-buy__title">
                                                МАРТФЛО
                                            </div>
                                            <p>
                                                Краснодар, Ростовское шоссе, 22/2
                                            </p>
                                        </div>
                                        <a href="./" data-popup="#request" class="btn">
                                            <span>Оставить заявку</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-forms block1">
                <div class="container">
                    <div class="block-forms__content">
                        <form action="#" class="form">
                            <div class="form__top">
                                <h2 class="title2">
                                    Стать дистрибьютором
                                </h2>
                                <p>
                                    Оставьте заявку — менеджер свяжется в течение 2 часов
                                </p>
                            </div>
                            <div class="form__inputs">
                                <div class="form__input">
                                    <input data-required autocomplete="off" type="text" name="form[]"
                                        placeholder="Номер телефона" class="input">
                                </div>
                                <div class="form__input">
                                    <input data-required autocomplete="off" type="text" name="form[]"
                                        placeholder="Город" class="input">
                                </div>
                                <div class="form__input">
                                    <input data-required autocomplete="off" type="text" name="form[]" placeholder="ИНН"
                                        class="input">
                                </div>
                                <div class="form__input">
                                    <input data-required autocomplete="off" type="text" name="form[]"
                                        placeholder="Объем закупки в неделю (стебли)" class="input">
                                </div>
                                <div class="form__input">
                                    <input data-required autocomplete="off" type="text" name="form[]"
                                        placeholder="Торговое название компании" class="input">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-white">
                                <span>Стать дистрибьютором</span>
                            </button>
                        </form>
                        <div class="block-forms__image">
                            <img loading="lazy" src="img/image8.webp" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>