<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Ошибка</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li>
                            <a href="./">
                                Главная
                            </a>
                        </li>
                        <li><span>Страница не найдена</span></li>
                    </ul>
                </div>
            </div>

            <div class="block-error">
                <div class="container">
                    <div class="block-error__content">
                        <div class="block-error__title">
                            <span>4</span>
                            <img src="img/error.webp" alt="" class="block-error__pic1">
                            <span>4</span>
                        </div>
                        <div class="block-error__titles">
                            <h1 class="title1">
                                Страницы не существует
                            </h1>
                            <p>
                                Возможно адрес страницы изменился или страница была удалена
                            </p>
                        </div>
                        <a href="./" class="btn">
                            <span>На главную</span>
                        </a>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>