<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Новости - детальная</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li>
                            <a href="./">
                                Главная
                            </a>
                        </li>
                        <li>
                            <a href="./">
                                Новости
                            </a>
                        </li>
                        <li><span>На территории промышленного парка «Вятка»...</span></li>
                    </ul>
                </div>
            </div>

            <div class="block-news-detail block1">
                <div class="container">
                    <div class="block-news-detail__content">
                        <div class="block-news-detail__body">
                            <h1 class="title1">
                                На территории промышленного парка «Вятка» Мамадышского района прошло торжественное
                                открытие специализированного розария «Floradex».
                            </h1>
                            <div class="block-news-detail__text">
                                <p>
                                    На территории промышленного парка «Вятка» Мамадышского района прошло торжественное
                                    открытие специализированного розария «Floradex».
                                </p>
                                <p>
                                    Церемония открытия прошла с участием главы Мамадышского муниципального района Вадима
                                    Никитина, заместителя Премьер-министра Республики Татарстан - министра сельского
                                    хозяйства и продовольствия Республики Татарстан Марата Зяббарова, депутата
                                    Государственной Думы Российской Федерации Анатолия Иванова.
                                </p>
                                <p>
                                    Современный тепличный комплекс площадью 1,1 гектара, оснащенный передовыми
                                    агротехнологиями, способный производить до 40 тысяч роз еженедельно. И уже сейчас,
                                    еще на этапе выхода на проектную мощность, мы получили первый урожай — 25 тысяч
                                    прекрасных цветов. Особая гордость — то, что этот проект реализует наш земляк,
                                    уроженец Мамадышского района Ромик Палян.
                                </p>
                                <p>
                                    Наш розарий это яркий пример импортозамещения в цветоводстве. Теперь лучшие сорта
                                    российских роз, созданные благодаря мировым достижениям селекции, будут расти на
                                    нашей земле и радовать жителей не только Татарстана, но и многих регионов России.
                                    Круглогодичное производство — это стабильность, это уверенность в завтрашнем дне.
                                </p>
                            </div>
                        </div>
                        <div class="block-news-detail__image">
                            <img src="img/news/image1.webp" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-news block1">
                <div class="container">
                    <div class="block-news__content">
                        <h2 class="title2">Похожие новости</h2>
                        <div class="block-news__cards">
                            <div class="card-news">
                                <div class="card-news__image">
                                    <img loading="lazy" src="img/news/image1.webp" alt="">
                                </div>
                                <div class="card-news__item">
                                    <div class="card-news__top">
                                        <span>
                                            Просмотров: 100
                                        </span>
                                        <span>
                                            29.07.2026
                                        </span>
                                    </div>
                                    <div class="card-news__title">
                                        На территории промышленного парка «Вятка» На территории промышленного парка
                                        «Вятка»
                                    </div>
                                    <p>
                                        Церемония открытия прошла с участием главы Мамадышского муниципального района
                                        Вадима
                                        Никитина, заместителя Премьер-министра Республики Татарстан - министра сельского
                                        хозяйства и продовольствия Республики продовольствия Республики
                                    </p>
                                    <a href="./" class="card-news__more">
                                        <span>Подробнее</span>
                                        <div class="card-news__icon">
                                            <svg aria-hidden="true" width="17" height="10">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="card-news">
                                <div class="card-news__image">
                                    <img loading="lazy" src="img/news/image2.webp" alt="">
                                </div>
                                <div class="card-news__item">
                                    <div class="card-news__top">
                                        <span>
                                            Просмотров: 100
                                        </span>
                                        <span>
                                            29.07.2026
                                        </span>
                                    </div>
                                    <div class="card-news__title">
                                        Консультация – предупреждение об интенсивности...
                                    </div>
                                    <p>
                                        днем и вечером на юго-западе РТ гроза с кратковременным усилением ветра до 15-20
                                        м/с, возможен град
                                    </p>
                                    <a href="./" class="card-news__more">
                                        <span>Подробнее</span>
                                        <div class="card-news__icon">
                                            <svg aria-hidden="true" width="17" height="10">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="card-news">
                                <div class="card-news__image">
                                    <img loading="lazy" src="img/news/image3.webp" alt="">
                                </div>
                                <div class="card-news__item">
                                    <div class="card-news__top">
                                        <span>
                                            Просмотров: 100
                                        </span>
                                        <span>
                                            29.07.2026
                                        </span>
                                    </div>
                                    <div class="card-news__title">
                                        В Мамадышском районе новое кадровое назначен...
                                    </div>
                                    <p>
                                        Начальником отдела территориального развития Исполнительного комитета
                                        Мамадышского района назначена Венера Давытова. Нового руководителя представил
                                        глава района Вадим Никитин на сегодняшней планерке.
                                    </p>
                                    <a href="./" class="card-news__more">
                                        <span>Подробнее</span>
                                        <div class="card-news__icon">
                                            <svg aria-hidden="true" width="17" height="10">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="./" class="btn"><span>Показать еще</span></a>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>