<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Новости</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li>
                            <a href="./">
                                Главная
                            </a>
                        </li>
                        <li><span>Новости</span></li>
                    </ul>
                </div>
            </div>

            <div class="block-news block1">
                <div class="container">
                    <div class="block-news__content">
                        <h1 class="title1">Новости</h1>
                        <div class="block-news__cards">
                            <div class="card-news">
                                <div class="card-news__image">
                                    <img src="img/news/image1.webp" alt="">
                                </div>
                                <div class="card-news__item">
                                    <div class="card-news__top">
                                        <span>
                                            Просмотров: 100
                                        </span>
                                        <span>
                                            29.07.2026
                                        </span>
                                    </div>
                                    <div class="card-news__title">
                                        На территории промышленного парка «Вятка» На территории промышленного парка
                                        «Вятка»
                                    </div>
                                    <p>
                                        Церемония открытия прошла с участием главы Мамадышского муниципального района
                                        Вадима
                                        Никитина, заместителя Премьер-министра Республики Татарстан - министра сельского
                                        хозяйства и продовольствия Республики продовольствия Республики
                                    </p>
                                    <a href="./" class="card-news__more">
                                        <span>Подробнее</span>
                                        <div class="card-news__icon">
                                            <svg aria-hidden="true" width="17" height="10">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="card-news">
                                <div class="card-news__image">
                                    <img src="img/news/image2.webp" alt="">
                                </div>
                                <div class="card-news__item">
                                    <div class="card-news__top">
                                        <span>
                                            Просмотров: 100
                                        </span>
                                        <span>
                                            29.07.2026
                                        </span>
                                    </div>
                                    <div class="card-news__title">
                                        Консультация – предупреждение об интенсивности...
                                    </div>
                                    <p>
                                        днем и вечером на юго-западе РТ гроза с кратковременным усилением ветра до 15-20
                                        м/с, возможен град
                                    </p>
                                    <a href="./" class="card-news__more">
                                        <span>Подробнее</span>
                                        <div class="card-news__icon">
                                            <svg aria-hidden="true" width="17" height="10">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="card-news">
                                <div class="card-news__image">
                                    <img src="img/news/image3.webp" alt="">
                                </div>
                                <div class="card-news__item">
                                    <div class="card-news__top">
                                        <span>
                                            Просмотров: 100
                                        </span>
                                        <span>
                                            29.07.2026
                                        </span>
                                    </div>
                                    <div class="card-news__title">
                                        В Мамадышском районе новое кадровое назначен...
                                    </div>
                                    <p>
                                        Начальником отдела территориального развития Исполнительного комитета
                                        Мамадышского района назначена Венера Давытова. Нового руководителя представил
                                        глава района Вадим Никитин на сегодняшней планерке.
                                    </p>
                                    <a href="./" class="card-news__more">
                                        <span>Подробнее</span>
                                        <div class="card-news__icon">
                                            <svg aria-hidden="true" width="17" height="10">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="card-news">
                                <div class="card-news__image">
                                    <img src="img/news/image4.webp" alt="">
                                </div>
                                <div class="card-news__item">
                                    <div class="card-news__top">
                                        <span>
                                            Просмотров: 100
                                        </span>
                                        <span>
                                            29.07.2026
                                        </span>
                                    </div>
                                    <div class="card-news__title">
                                        Уважаемые мамадышцы, подписывайтесь на...
                                    </div>
                                    <p>
                                        Церемония открытия прошла с участием главы Мамадышского муниципального района
                                        Вадима Никитина, заместителя Премьер-министра Республики Татарстан - министра
                                        сельского хозяйства и продовольствия Республики...
                                    </p>
                                    <a href="./" class="card-news__more">
                                        <span>Подробнее</span>
                                        <div class="card-news__icon">
                                            <svg aria-hidden="true" width="17" height="10">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="card-news">
                                <div class="card-news__image">
                                    <img src="img/news/image5.webp" alt="">
                                </div>
                                <div class="card-news__item">
                                    <div class="card-news__top">
                                        <span>
                                            Просмотров: 100
                                        </span>
                                        <span>
                                            29.07.2026
                                        </span>
                                    </div>
                                    <div class="card-news__title">
                                        С 1 августа работающие пенсионеры в Татарстане...
                                    </div>
                                    <p>
                                        Отделение СФР по Республике Татарстан проведёт беззаявительный перерасчёт
                                        страховых пенсий для работающих жителей региона. Максимальное увеличение выплат
                                        составит 3 пенсионных коэффициента...
                                    </p>
                                    <a href="./" class="card-news__more">
                                        <span>Подробнее</span>
                                        <div class="card-news__icon">
                                            <svg aria-hidden="true" width="17" height="10">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="card-news">
                                <div class="card-news__image">
                                    <img src="img/news/image6.webp" alt="">
                                </div>
                                <div class="card-news__item">
                                    <div class="card-news__top">
                                        <span>
                                            Просмотров: 100
                                        </span>
                                        <span>
                                            29.07.2026
                                        </span>
                                    </div>
                                    <div class="card-news__title">
                                        Приглашаем всех на праздник двора
                                    </div>
                                    <p>
                                        Приглашаем вас на праздник двора, который состоится в рамках республиканского
                                        проекта «Лето в Татарстане»!
                                        Это отличная возможность обсудить волнующие вопросы, высказать предложения и
                                        просто провести вечер..
                                    </p>
                                    <a href="./" class="card-news__more">
                                        <span>Подробнее</span>
                                        <div class="card-news__icon">
                                            <svg aria-hidden="true" width="17" height="10">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="card-news">
                                <div class="card-news__image">
                                    <img src="img/news/image1.webp" alt="">
                                </div>
                                <div class="card-news__item">
                                    <div class="card-news__top">
                                        <span>
                                            Просмотров: 100
                                        </span>
                                        <span>
                                            29.07.2026
                                        </span>
                                    </div>
                                    <div class="card-news__title">
                                        На территории промышленного парка «Вятка» На территории промышленного парка
                                        «Вятка»
                                    </div>
                                    <p>
                                        Церемония открытия прошла с участием главы Мамадышского муниципального района
                                        Вадима
                                        Никитина, заместителя Премьер-министра Республики Татарстан - министра сельского
                                        хозяйства и продовольствия Республики продовольствия Республики
                                    </p>
                                    <a href="./" class="card-news__more">
                                        <span>Подробнее</span>
                                        <div class="card-news__icon">
                                            <svg aria-hidden="true" width="17" height="10">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="card-news">
                                <div class="card-news__image">
                                    <img src="img/news/image2.webp" alt="">
                                </div>
                                <div class="card-news__item">
                                    <div class="card-news__top">
                                        <span>
                                            Просмотров: 100
                                        </span>
                                        <span>
                                            29.07.2026
                                        </span>
                                    </div>
                                    <div class="card-news__title">
                                        Консультация – предупреждение об интенсивности...
                                    </div>
                                    <p>
                                        днем и вечером на юго-западе РТ гроза с кратковременным усилением ветра до 15-20
                                        м/с, возможен град
                                    </p>
                                    <a href="./" class="card-news__more">
                                        <span>Подробнее</span>
                                        <div class="card-news__icon">
                                            <svg aria-hidden="true" width="17" height="10">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="card-news">
                                <div class="card-news__image">
                                    <img src="img/news/image3.webp" alt="">
                                </div>
                                <div class="card-news__item">
                                    <div class="card-news__top">
                                        <span>
                                            Просмотров: 100
                                        </span>
                                        <span>
                                            29.07.2026
                                        </span>
                                    </div>
                                    <div class="card-news__title">
                                        В Мамадышском районе новое кадровое назначен...
                                    </div>
                                    <p>
                                        Начальником отдела территориального развития Исполнительного комитета
                                        Мамадышского района назначена Венера Давытова. Нового руководителя представил
                                        глава района Вадим Никитин на сегодняшней планерке.
                                    </p>
                                    <a href="./" class="card-news__more">
                                        <span>Подробнее</span>
                                        <div class="card-news__icon">
                                            <svg aria-hidden="true" width="17" height="10">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="./" class="btn"><span>Показать еще</span></a>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>