<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Карточка товара</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li>
                            <a href="./">
                                Главная
                            </a>
                        </li>
                        <li>
                            <a href="./">Каталог роз</a>
                        </li>
                        <li>
                            <span>
                                Роза чайно-гибридная “Софи Лорен”
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="block-product-card block1">
                <div class="container">
                    <div class="block-product-card__content">
                        <div class="product-card-top">
                            <div class="product-card-top__body">
                                <div class="product-card-top__column">
                                    <h1 class="title1">
                                        Роза чайно-гибридная “Софи Лорен”
                                    </h1>
                                    <p>
                                        Сорт чайно-гибридной розы ”Софи Лорен” был выведен немецким
                                        селекционеромМатиасом Тантау-младшим в 1967 году и назван в честь знаменитой
                                        итальянской актрисы.В Государственный реестр РФ сорт включен в 1980 году
                                    </p>
                                </div>
                                <div class="product-card-top__column">
                                    <div class="product-card-top__list">
                                        <div class="product-card-top__list-title">
                                            Куст и листва
                                        </div>
                                        <ul>
                                            <li>
                                                <div class="product-card-top__name">
                                                    Вазостойкость
                                                </div>
                                                <div class="product-card-top__value">
                                                    до 14 дней
                                                </div>
                                            </li>
                                            <li>
                                                <div class="product-card-top__name">
                                                    Высота куста
                                                </div>
                                                <div class="product-card-top__value">
                                                    100-150 см, побеги прямостоячие и мощные 
                                                </div>
                                            </li>
                                            <li>
                                                <div class="product-card-top__name">
                                                    Ширина куста
                                                </div>
                                                <div class="product-card-top__value">
                                                    70-80 см
                                                </div>
                                            </li>
                                            <li>
                                                <div class="product-card-top__name">
                                                    Листья
                                                </div>
                                                <div class="product-card-top__value">
                                                    темно-зеленые, яйцевидной формы, кожистые, с полуглянцевым блеском
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-card-top__column">
                                    <div class="product-card-top__list">
                                        <div class="product-card-top__list-title">
                                            Цветки
                                        </div>
                                        <ul>
                                            <li>
                                                <div class="product-card-top__name">
                                                    Размер:
                                                </div>
                                                <div class="product-card-top__value">
                                                    диаметр 10-12 см (по некоторым данным до 15 см)
                                                </div>
                                            </li>
                                            <li>
                                                <div class="product-card-top__name">
                                                    Форма:
                                                </div>
                                                <div class="product-card-top__value">
                                                    бокаловидная, с высоким центром, лепестки бархатистые
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-card-top__buttons">
                                    <a href="./" data-popup="#request" class="btn">
                                        <span>Оставить заявку</span>
                                    </a>
                                    <a href="./" data-popup="#request" class="btn btn-border">
                                        <span>Нужна помощь?</span>
                                    </a>
                                </div>
                            </div>
                            <div class="product-card-top__images">
                                <div class="product-card-top__image image-main">
                                    <img src="img/products/image1.webp" alt="">
                                </div>
                                <div class="product-card-top__image">
                                    <img src="img/products/image7.webp" alt="">
                                </div>
                                <div class="product-card-top__image">
                                    <img src="img/products/image8.webp" alt="">
                                </div>
                                <div class="product-card-top__image">
                                    <img src="img/products/image9.webp" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="product-card-bottom">
                            <div class="product-card-bottom__text">
                                <p>
                                    Роза “Софи Лорен” — мощный, прямостоячий куст высотой от 1 до 1,5 метра. Побеги
                                    сильные, хорошо облиственные темно-зеленой, полуглянцевой листвой.Шипы крупные,
                                    расположены со средней частотой
                                </p>
                            </div>
                            <div class="product-card-bottom__text">
                                <div class="product-card-bottom__title">
                                    Особенности цветка
                                </div>
                                <p>
                                    Цветки густомахровые, бокаловидной формы, с высоким центром. При полном раскрытии
                                    достигают 12 см в диаметре. Лепестки имеют уникальный бархатистый оттенок —
                                    ярко-красныйс малиновым подтоном в центре, что придает цветку благородную глубину
                                </p>
                            </div>
                            <div class="product-card-bottom__text">
                                <div class="product-card-bottom__title">
                                    Аромат и цветение
                                </div>
                                <p>
                                    Испускает сильный, сладкий аромат с фруктовыми нотками, который наполняет сад. Сорт
                                    относится к повторноцветущим: первая волна цветения сменяется новой вплоть до
                                    осенних заморозков. Цветы появляются одиночно или в небольших кистях
                                </p>
                            </div>
                            <div class="product-card-bottom__text">
                                <div class="product-card-bottom__title">
                                    Условия выращивания
                                </div>
                                <p>
                                    Для посадки выбирайте солнечные участки с плодородной, рыхлой и хорошо дренированной
                                    почвой. Рекомендуется регулярный полив и подкормки специализированными удобрениями
                                    для роз. Обладает хорошей устойчивостью к грибковым заболеваниям. На зиму требует
                                    укрытия в регионах с суровыми зимами.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-catalog block1">
                <div class="container">
                    <div class="block-catalog__content">
                        <div class="block-catalog__top">
                            <h2 class="title2">
                                Похожие товары
                            </h2>
                        </div>
                        <div class="block-catalog__body">
                            <div class="block-catalog__cards">
                                <div class="card-product">
                                    <div class="card-product__image">
                                        <img loading="lazy" src="img/products/image6.webp" alt="">
                                    </div>
                                    <div class="card-product__item">
                                        <div class="card-product__titles">
                                            <div class="card-product__title">София Лорен</div>
                                            <p>
                                                Розовая
                                            </p>
                                        </div>
                                        <a href="./" class="btn-more">
                                            <span>Подробнее</span>
                                            <div class="btn-more__arrow">
                                                <svg aria-hidden="true" width="17" height="10">
                                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                                </svg>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-product">
                                    <div class="card-product__image">
                                        <img loading="lazy" src="img/products/image1.webp" alt="">
                                    </div>
                                    <div class="card-product__item">
                                        <div class="card-product__titles">
                                            <div class="card-product__title">София Лорен</div>
                                            <p>
                                                Розовая
                                            </p>
                                        </div>
                                        <a href="./" class="btn-more">
                                            <span>Подробнее</span>
                                            <div class="btn-more__arrow">
                                                <svg aria-hidden="true" width="17" height="10">
                                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                                </svg>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-product">
                                    <div class="card-product__image">
                                        <img loading="lazy" src="img/products/image2.webp" alt="">
                                    </div>
                                    <div class="card-product__item">
                                        <div class="card-product__titles">
                                            <div class="card-product__title">София Лорен</div>
                                            <p>
                                                Розовая
                                            </p>
                                        </div>
                                        <a href="./" class="btn-more">
                                            <span>Подробнее</span>
                                            <div class="btn-more__arrow">
                                                <svg aria-hidden="true" width="17" height="10">
                                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                                </svg>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-product">
                                    <div class="card-product__image">
                                        <img loading="lazy" src="img/products/image3.webp" alt="">
                                    </div>
                                    <div class="card-product__item">
                                        <div class="card-product__titles">
                                            <div class="card-product__title">София Лорен</div>
                                            <p>
                                                Розовая
                                            </p>
                                        </div>
                                        <a href="./" class="btn-more">
                                            <span>Подробнее</span>
                                            <div class="btn-more__arrow">
                                                <svg aria-hidden="true" width="17" height="10">
                                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                                </svg>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>