<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Технологии и качество</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li>
                            <a href="./">
                                Главная
                            </a>
                        </li>
                        <li><span>Технологии и качество</span></li>
                    </ul>
                </div>
            </div>

            <div class="block-technology-quality block1">
                <div class="container">
                    <div class="block-technology-quality__content">
                        <h1 class="title1">Технологии и качество</h1>
                        <div class="block-technology-quality__body">
                            <div class="block-technology-quality__column">
                                <div class="block-technology-quality__item">
                                    <h2 class="title2">
                                        Система климат-контроля Floradex: прецизионная забота о каждой розе
                                    </h2>
                                    <div class="block-technology-quality__text">
                                        <p>
                                            В основе выращивания роз премиального качества в розарии Floradex лежит
                                            передовая автоматизированная система климат-контроля. Это «мозг» нашего
                                            тепличного комплекса площадью 1,1 гектара, который круглосуточно отслеживает
                                            и
                                            регулирует все ключевые параметры среды, создавая для каждого растения
                                            идеальные
                                            условия для роста и цветения. Такой подход позволяет нам производить до 40
                                            000
                                            роз еженедельностабильно высокого качества
                                        </p>
                                    </div>
                                </div>
                                <div class="block-technology-quality__image">
                                    <img src="img/image9.webp" alt="">
                                </div>
                            </div>
                            <div class="block-technology-quality__column">
                                <div class="block-technology-quality__item">
                                    <h2 class="title2">
                                        Защита растений в Floradex: биологическая безопасность и чистота каждой розы
                                    </h2>
                                    <div class="block-technology-quality__text">
                                        <p>
                                            В Floradex мы убеждены: красота розы не должна быть достигнута ценой
                                            здоровья
                                            человека и окружающей среды. Поэтому основой нашей стратегии защиты растений
                                            является интегрированная система биологической защиты. Это комплексный
                                            подход,
                                            который сводит к минимуму использование химических препаратов, делая наши
                                            цветы
                                            не только красивыми, но и экологичными.
                                        </p>
                                        <p>
                                            Мы строим наше производство так, чтобы розы росли сильными и здоровыми,а не
                                            полагались на «тяжелую артиллерию» агрохимии.
                                        </p>
                                    </div>
                                </div>
                                <div class="block-technology-quality__image">
                                    <img src="img/image10.webp" alt="">
                                </div>
                            </div>
                            <div class="block-technology-quality__column">
                                <div class="block-technology-quality__item">
                                    <h2 class="title2">
                                        Сбор и упаковка роз Floradex: искусство сохранения свежести на каждом этапе
                                    </h2>
                                    <div class="block-technology-quality__text">
                                        <p>
                                            Путь розы от теплицы до вашего букета — это сложный и выверенный процесс,
                                            где каждая деталь имеет значение. В Floradex мы относимся к срезке и
                                            упаковке с особым вниманием, ведь именно на этих этапах закладывается
                                            долговечность будущего букета. Наша задача — передать цветы в руки флориста
                                            или покупателя в идеальном состоянии, сохранив ту энергию жизни, которую мы
                                            взрастили в теплице.
                                        </p>
                                    </div>
                                </div>
                                <div class="block-technology-quality__image">
                                    <img src="img/image11.webp" alt="">
                                </div>
                            </div>
                            <div class="block-technology-quality__column">
                                <div class="block-technology-quality__item">
                                    <h2 class="title2">
                                        Логистика Floradex: свежесть роз из Мамадыша в любую точку
                                    </h2>
                                    <div class="block-technology-quality__text">
                                        <p>
                                            В Floradex мы понимаем, что вырастить розы премиального качества — лишь
                                            половина дела. Настоящее искусство — доставить их к вам в идеальном
                                            состоянии, сохранив ту свежесть и красоту, которые были заложены в теплице.
                                            Наша логистическая система выстроена так, чтобы цветы оставались «живыми» на
                                            каждом километре пути, независимо от того, находитесь ли вы в соседнем
                                            регионе или за тысячи километров от нашего розария
                                        </p>
                                    </div>
                                </div>
                                <div class="block-technology-quality__image">
                                    <img src="img/image12.webp" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>