.form {
    flex: 0 1 618px;
    padding: 57px 0px 54px 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    @media (max-width: 1200px) {
        padding: 50px 0px 50px 20px;
    }
    @media (max-width: 992px) {
        padding: 45px 20px 0px 20px;
        flex: 1 1 auto;
    }
    .btn {
        width: 100%;
    }
    // .form__top

    &__top {
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: var(--white);
        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 160%;
            color: var(--white);
            @media (max-width: 768px) {
                font-size: 12px;
                text-align: center;
            }
        }
    }

    // .form__inputs

    &__inputs {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        @media (max-width: 550px) {
            flex-direction: column;
            gap: 15px;
        }
    }

    // .form__input

    &__input {
        flex: 1 1 calc(50% - 20px);
        @media (max-width: 550px) {
            flex: 0 1 auto;
        }
        .input {
            border: 1px solid rgba(255, 255, 255, 0.4);
            border-radius: 8px;
            padding: 0px 15px;
            width: 100%;
            background: #9fb989;
            transition: border 0.3s;
            height: 44px;
            font-weight: 400;
            font-size: 14px;
            line-height: 160%;
            &::placeholder {
                color: var(--white);
            }
            &._form-error {
                border: 1px solid red;
            }
        }
    }
}
