:root {
  --container-width: 1430px;
  --container-padding: 20px;
  --white: #fff;
  --gray: #535353;
  --light-gray: #767676;
  --green: #87b362;

  --font-family: "Involve", sans-serif;
  --second-family: "Montserrat", sans-serif;
}
